<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>INetSyphon_OSX_SDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SampleMultiTCPClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SampleMultiTCPServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SampleTCPClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SampleTCPServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SampleUDPClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SampleUDPServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D50F036F1CB2448000DEF690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D51551D81CACC10B0034E9FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D58FF38A1C1B36B4007F3324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D58FF39F1C1B3890007F3324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5B4B45F1C141F50003F3EEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5B4B4771C141F72003F3EEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5B4B4F81C142DC5003F3EEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
